body {
  background-color: #eef2f3;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}
.box {
  background-color: lightblue;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
  border: 5px solid navy;
}
