body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  text-align: center;
}
h1 {
  color: #3333cc;
  font-size: 36px;
}
p {
  color: #666666;
  font-size: 18px;
  padding: 10px;
}
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
